.button {
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  background: #fb7429;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
  color: #ffffff;
}
